# Questions from lesson 6

Below is the closing stock price of *Apple* and *Microsoft* from 06/08/2010 to 07/08/2020.

In [2]:
import pandas as pd

stocks = pd.read_csv("https://raw.githubusercontent.com/ThomasJewson/datasets/master/AAPL-MSFT-ClosePrice2010-2020.csv")
stocks.head()

         date  AAPL close  MSFT close
0  06/08/2010     37.1559       25.55
1  09/08/2010     37.3929       25.61
2  10/08/2010     37.0586       25.07
3  11/08/2010     35.7414       24.86
4  12/08/2010     35.9700       24.49

**Question 1:**

*Plot a scatter diagram with `AAPL close` on the x-axis and `MSFT close` on the y-axis from the `stocks` DataFrame. What kind of association do you see?*

In [3]:
# Answer
stocks.plot.scatter(
    x="AAPL close",
    y="MSFT close"
)
# Positive association is observed

**Question 2:**

The equation for standard units is below:
    
${\large Standard\space Units =\Large z = \frac{x-\mu}{\sigma}}$

${x = \text{Each piece of data}}$

${\mu = \text{Mean of the population}}$

${\sigma = \text{Standard deviation of the population}}$

*Using the `.mean()` and `.std()` functions calculate the standard units for the `MSFT close` column.*

In [4]:
(stocks["MSFT close"]-stocks["MSFT close"].mean())/stocks["MSFT close"].std()

0      -0.902562
1      -0.901203
2      -0.913428
3      -0.918182
4      -0.926559
          ...
2514    3.421208
2515    3.347632
2516    3.339709
2517    3.416907
2518    3.329295
Name: MSFT close, Length: 2519, dtype: float64

**Question 3:** 

Below are the functions we used in the lesson.

In [5]:
def standard_units(df): #df is just a shortening of DataFrame
    """Convert any array of numbers to standard units."""
    return (df - df.mean())/df.std()

In [6]:
def correlation(df,x,y):
    """This function calculates the Pearson's R."""
    df_product = standard_units(df[x]) * standard_units(df[y]) #This line calculates the product of the two columns
    return df_product.mean() #Outputting the mean of the product column

*with the `correlation` function calculate the correlation between `AAPL close` and `MSFT close`. Comment on what this value means.*

In [7]:
#Answer
correlation(stocks,"AAPL close","MSFT close")
#As it is positive it means it is a postive correlation. As this number is close to one there is a strong correlation.

0.9709222351402138

**Question 4:** 

Below are the functions we used in the lesson.

In [15]:
def slope(df,x,y):
    """This function calculates the slope / gradient of the regression line of best fit"""
    r = correlation(df,x,y)
    std_ratio = df[y].std()/df[x].std()
    return r * std_ratio

In [9]:
def intercept(df,x,y):
    """This function calculates the intercept of the regression line"""
    mean_y = df[y].mean()
    mean_x = df[x].mean()
    gradient = slope(df,x,y)
    return mean_y - gradient*mean_x

*Using this functions for `intercept` and `slope` calculate an predict for the price of `MSFT close` when `AAPL close = 150`.*

**!!! Add more description here**

In [14]:
#Answer
150*slope(stocks,"AAPL close","MSFT close")+intercept(stocks,"AAPL close","MSFT close")

78.77375233152098

**Question 5:**

Below is the `prediction` function we used in the lesson.

In [11]:
def predict(df,x,y):
    c = intercept(df,x,y)
    m = slope(df,x,y)
    input_string = "Input " + x + ": "
    input_x = int(input(input_string))
    return round(input_x*m+c)

*Place the `predict()` function in a `for` loop that repeats 3 times and predict the `AAPL close` value when `MSFT close = 50, 200 and 250`. You will need to make `AAPL close` to be y and `MSFT close` to be x.*

In [12]:
#Answers
for y in range(3):
    print(predict(stocks,"MSFT close","AAPL close"))

#103,342,422

Input MSFT close: 1
25
Input MSFT close: 1
25
Input MSFT close: 1
25